@model MVCClient.Models.FlightM

@{
    ViewData["Title"] = "BaseDetails";
}

<h2>Flight Information</h2>
<hr />
<div>
    
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Pilots">Back to Pilot Area</a>
</div>
