@model MVCClient.Models.BookFlight

@{
    ViewData["Title"] = "BookFlight";
}

<h2>Please Confirm the information bellow</h2>
<br />
<div>
    <h4>
        Flight Information 
    </h4>
    <hr />


    <dl class="row">

        <dt class="col-sm-2">
            Flight Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt class="col-sm-2">
            Sales Price
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalePrice)
        </dd>

    </dl>
    <br />
    <h4>
        Passenger Information 
    </h4>
    <hr />
    <dl class="row">

        @if (ViewBag.AlreadyExist == true)
        {
            <div class="rightColumn">
                <h6>Informations saved in our system :</h6>
            
            <dd class="col-sm-10">
                <b>Full Name :</b>@Html.DisplayFor(model => model.Passenger.FullName)
            </dd>
            <dd class="col-sm-10">
                <b>Passport ID :</b> @Html.DisplayFor(model => model.Passenger.PassportID)
            </dd>
           
            <dd class="col-sm-10">
                <b>Email :</b> @Html.DisplayFor(model => model.Passenger.Email)
            </dd>
           
            <dd class="col-sm-10">
                <b>Birthday :</b>@Html.DisplayFor(model => model.Passenger.Birthday)
            </dd>
</div>
        <div class="middleColumn">
            <form asp-controller="Flight" asp-action="UpdateFromBooking" asp-route-id="@Html.ValueFor(model => model.Passenger.PersonId)" >
                <div class="form-group">
                    <input asp-for="FlightNo"  type="number" value="@Html.ValueFor(model => model.FlightNo)" class="form-control" hidden />
                    <input asp-for="Destination"  type="text" value="@Html.ValueFor(model => model.Destination)" class="form-control" hidden />
                    <input asp-for="Departure"  type="text" value="@Html.ValueFor(model => model.Departure)" class="form-control" hidden />
                    <input asp-for="Date"  type="datetime" value="@Html.ValueFor(model => model.Date)" class="form-control" hidden />
                    <input asp-for="Price"  type="number" value="@Html.ValueFor(model => model.Price)" class="form-control" hidden />
                    <input asp-for="SalePrice"  type="number" value="@Html.ValueFor(model => model.SalePrice)" class="form-control" hidden />

                    <input asp-for="Passenger.FullName"  type="text" value="@ViewBag.Fullname" class="form-control" hidden />
                    <input asp-for="Passenger.Email"  type="email" value="@ViewBag.Email" class="form-control" hidden />
                    <input asp-for="Passenger.PassportID" type="number" value="@ViewBag.PassportID" class="form-control" hidden />
                    <input asp-for="Passenger.Birthday" type="datetime" value="@ViewBag.Birthday" class="form-control" hidden />
                    <input asp-for="Passenger.Status" type="text" value="@Html.ValueFor(model => model.Passenger.Status)" class="form-control" hidden />
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Save Info Entered" class="btn btn-primary" />
                </div>
            </form>
           
        </div>
        <div class="leftColumn">
            <h6>Informations entered before :</h6>

            <dd class="col-sm-10">
                <b>Full Name :</b> @ViewBag.FullName
            </dd>
            
            <dd class="col-sm-10">
                <b>Passport ID :</b> @ViewBag.PassportID
            </dd>
          
            <dd class="col-sm-10">
                <b>Email :</b> @ViewBag.Email
            </dd>
           
            <dd class="col-sm-10">
                <b>Birthday :</b> @ViewBag.Birthday
            </dd>
        </div>
        }
        else
        {
            <h6>Informations entered before :</h6>
            <dt class="col-sm-2">
                Full Name :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Passenger.FullName)
            </dd>
            <dt class="col-sm-2">
                Passport ID :
            </dt>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Passenger.PassportID)
            </dd>
            <dt class="col-sm-2">
                Email :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Passenger.Email)
            </dd>
            <dt class="col-sm-2">
                Birthday :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Passenger.Birthday)
            </dd>
        }






    </dl>
</div>




<form asp-action="ConfirmBooking" asp-controller="Flight">
    <div class="form-group">
        <input asp-for="FlightNo" type="number" value="@Html.ValueFor(model => model.FlightNo)" class="form-control" hidden />
        <input asp-for="Destination" type="text" value="@Html.ValueFor(model => model.Destination)" class="form-control" hidden />
        <input asp-for="Departure" type="text" value="@Html.ValueFor(model => model.Departure)" class="form-control" hidden />
        <input asp-for="Date" type="datetime" value="@Html.ValueFor(model => model.Date)" class="form-control" hidden />
        <input asp-for="Price" type="number" value="@Html.ValueFor(model => model.Price)" class="form-control" hidden />
        <input asp-for="SalePrice" type="number" value="@Html.ValueFor(model => model.SalePrice)" class="form-control" hidden />

        <input asp-for="Passenger.FullName" type="text" value="@Html.ValueFor(model => model.Passenger.FullName)" class="form-control" hidden />
        <input asp-for="Passenger.Email" type="email" value="@Html.ValueFor(model => model.Passenger.Email)" class="form-control" hidden />
        <input asp-for="Passenger.PassportID" type="text" value="@Html.ValueFor(model => model.Passenger.PassportID)" class="form-control" hidden />
        <input asp-for="Passenger.PersonId" type="number" value="@Html.ValueFor(model => model.Passenger.PersonId)" class="form-control" hidden />
        <input asp-for="Passenger.Birthday" type="datetime" value="@Html.ValueFor(model => model.Passenger.Birthday)" class="form-control" hidden />
        <input asp-for="Passenger.Status" type="text" value="@Html.ValueFor(model => model.Passenger.Status)" class="form-control" hidden />
    </div>


    <br />

    <div class="form-group">
        <input type="submit" value="Confirm Booking" class="btn btn-primary" />
    </div>
</form>

<hr />

<div>
    @*  @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a asp-action="Index" asp-controller="Home">Back Home</a>
</div>


<style>
    /* Create two unequal columns that floats next to each other */
    /* Left column */
    .leftColumn {
        float: left;
        width: 40%;
      
    }
    /* Right column */
    .middleColumn {
        float: left;
        width: 20%;
    }

    /* Right column */
    .rightColumn {
        float: left;
        width: 40%;
    }
    

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

</style>