@model MVCClient.Models.PassengerM

@{
    ViewData["Title"] = "Index";
}


<div>
    <h4>Passenger - @Html.DisplayFor(model => model.FullName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassportID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassportID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonId }) | 
    <a asp-action="Index" asp-controller="Home">Back Home</a>
</div>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tickets.ElementAtOrDefault(0).FlightNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets.ElementAtOrDefault(0).Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets.ElementAtOrDefault(0).Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets.ElementAtOrDefault(0).SalePrice)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tickets)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNo)
            </td>
            <td>
                @Html.DisplayFor(model => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(model => item.Destination)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.SalePrice)
            </th>
            <td>

                @Html.ActionLink("Details of Booking", "Details", "Booking", new { flightNo = item.FlightNo, personId = item.PassengerId })
            </td>
        </tr>
        }
    </tbody>
</table>

