@model MVCClient.Models.Ticket

@{
    ViewData["Title"] = "Details";
}


<div>
    <h3>My Ticket for Flight N° @Html.ValueFor(model => model.FlightNo)</h3>
    <hr />
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date) of Flight
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            Full Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            Sale Price
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
    </dl>
</div>
<div>
   
    <a asp-action="Index" asp-controller="Passenger">Back to Passenger Area</a>
</div>
