@model MVCClient.Models.PilotAdminM

@{
    ViewData["Title"] = "DeletePilot";
}

<h1>Delete Pilot : @Html.ValueFor(model => model.FullName)</h1>
<br />
<h3>Are you sure you want to delete this Pilot ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassportID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassportID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
    </dl>
    
    <form asp-action="DeletePilot">
        <input type="submit" value="Delete Completely" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
