@model MVCClient.Models.PilotAdminM

@{
    ViewData["Title"] = "Details";
}

<h2>Details Pilot - <b>@Html.DisplayFor(model => model.FullName)</b></h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassportID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassportID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
    </dl>
</div>
<div>

    @using (Html.BeginForm("Edit", "Pilots", new { id = @Html.ValueFor(model => model.PersonId) }, FormMethod.Get))
    {
        <input type="submit" value="Edit" class="btn btn-primary" style="margin-right:30px">
    }
    @using (Html.BeginForm("DeletePilot", "Admin", new { id = @Html.ValueFor(model => model.PersonId) }, FormMethod.Get))
    {
        <input type="submit" value="Delete" class="btn btn-danger" style="margin-top:10px">
    }

    <form>
        <input type="button" value="Go back" onclick="history.back()" style="margin-top:10px">
    </form>

</div>
