@model MVCClient.Models.Destination

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Destination</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DestinationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SumSales)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SumSales)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvgSales)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvgSales)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flights.FirstOrDefault().FlightNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flights.FirstOrDefault().Date)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Flights)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                <td>

                    @if (ViewBag.Session == "Admin")
                    {

                        @Html.ActionLink("Details Admin", "DetailsFlight", "Admin", new { id = item.FlightNo })

                    }
                    else
                    {@Html.ActionLink("Details", "BaseDetails", "Flight", new { id = item.FlightNo })


                }


                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<form>
    <input type="button" value="Go back" onclick="history.back()">
</form>