@model IEnumerable<MVCClient.Models.Destination>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DestinationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumSales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgSales)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumSales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgSales)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
